<div class="row featurette">
    <div class="col-md-7">
      <div class="container">
        <h2 class="featurette-heading">REFINED, REMASTERED, REBORN <hr><span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">The CDJ-2000NXS2 inherits all the best features from its predecessor – the CDJ-2000NXS – and takes a giant leap forward. 
          We’ve added a larger, multicolour touch screen with a Qwerty keyboard and search filters to help you select tracks faster. 
          2 banks of 4 Hot Cues give you more creative freedom, while a 96 kHz/24-bit sound card and support for FLAC/Apple Lossless Audio (ALAC) means you can play with higher resolution formats.
        </p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="container">    
        <img class="img-fluid mb-2" src="../assets//img/2.jpg">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <div class="container">
        <h2 class="featurette-heading">ATTENTION TO DETAIL <hr><span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Take your performance to new heights with the DJM-900NXS2, which features our first ever 64-bit mixing processor for a warmer, more nuanced sound. We’ve fine-tuned the EQ and fader curves and enhanced the FX controls to give you even more creative choice. Plus the versatile DJM-900NXS2 has an independent Send/Return, 4 phono inputs and 2 USB ports – giving you flexibility to set it up your way.</p>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <div class="container">    
        <img class="img-fluid mb-2" src="../assets//img/11.jpg">
      </div>
    </div>
  </div>