<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="container">
      <a class="navbar-brand" href="main">{{pageTitle}}</a>
      <ul class='nav nav-pills'>
        <li><a class='nav-link bg-secondary' routerLinkActive='active' [routerLink]="['/main']">Main</a></li>
        <li><a class='nav-link bg-secondary' routerLinkActive='active' [routerLink]="['/equipments']">Equipment List</a></li>
      </ul>      
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="mt-5 p-3 text-center bg-light" id="footer">{{pageFooter}}</footer>